body{
    margin: 0;
    padding: 0;
    padding-top: 65px;
    background: #000;
}
a{
    color: #333;
}
ul{
    list-style: none;
    padding: 0;
}
.my-top-navbar{
    background: #000;
}
.my-top-navbar a{
    color: #fff !important;
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
}
.my-top-navbar #my-con>ul>li>a:hover{
    background: #fff;
    color: #000 !important;
    font-size: 16px;
}
.my-active>a{
    font-size: 16px;
    background: #fff;
    color: #000 !important;
}