* {
    margin: 0;
    padding: 0;
}

#wrap {
    position: relative;
    margin: 0 auto;
}

#wrap li {
    list-style: none;
    text-align: center;
    width: 200px;
    background-color: orange;
    position: absolute;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -ms-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}
.my-bottom{
    width: 320px;
    height: 100px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 25px;
    line-height: 100px;
}
